[submodule "awesome"]
	path = awesome
	url = https://github.com/inv4d3r/awesome-config
	branch = master
[submodule "nvim"]
	path = nvim
	url = https://github.com/inv4d3r/nvim-config
	branch = master
[submodule "qutebrowser"]
	path = qutebrowser
	url = https://github.com/inv4d3r/qute-config
	branch = master
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/inv4d3r/kitty-themes
	branch = master
[submodule "polybar"]
	path = polybar
	url = https://github.com/inv4d3r/polybar-config.git
[submodule "i3"]
	path = i3
	url = https://github.com/inv4d3r/i3-config.git
